@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Currículum_Vitae.Models.CurriculumViewModel
<div class="container mt-5">
    <div class="row align-items-start mb-4">
        <div class="col-md-3 text-center">
            <div class="profile-image">
                <img src="/img/FotoEmmanuelEscobedo.jpg" alt="Foto Emmanuel" class="rounded-circle img-thumbnail" width="200" height="200" />
            </div>
        </div>
        <div class="col-md-9">
            <h1 class="display-4">@Model.InformacionPersonal.NombreCompleto</h1>
            <div class="card-body">
                <p><i class="fas fa-map-marker-alt"></i> <strong>Dirección:</strong> @Model.InformacionPersonal.Direccion</p>
                <p><i class="fas fa-phone"></i> <strong>Teléfono:</strong> @Model.InformacionPersonal.Telefono</p>
                <p><i class="fas fa-envelope"></i> <strong>Email:</strong> @Model.InformacionPersonal.Email</p>
                <p><i class="fas fa-mars"></i> <strong>Sexo:</strong> @Model.InformacionPersonal.Sexo</p>
            </div>
            <a href="@Url.Action("FormacionAcademica", "FormacionAcademica")" class="btn btn-primary mt-3">
                <i class="fas fa-graduation-cap"></i> Formación Académica
            </a>
            <a href="@Url.Action("ExperienciaProfesional", "ExperienciaProfesional")" class="btn btn-primary mt-3">
                <i class="fas fa-briefcase"></i> Experiencia Profesional
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="card-title">Habilidades</h2>
                </div>
                <div class="card-body">
                    <p><i class="fas fa-laptop-code"></i> Desarrollo web y móvil</p>
                    <p><i class="fab fa-java"></i> Programación en Java</p>
                    <p><i class="fab fa-js"></i> Programación en JavaScript</p>
                    <p><i class="fab fa-html5"></i> Programación en HTML</p>
                    <p><i class="fab fa-python"></i> Programación en Python</p>
                    <p><i class="fas fa-database"></i> Programación en SQL</p>
                    <p><i class="fab fa-windows"></i> Programación en C#</p>
                    <p><i class="fas fa-database"></i> Diseño de bases de datos</p>
                    <p><i class="fas fa-tasks"></i> Gestión de proyectos</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="card-title">Aptitudes</h2>
                </div>
                <div class="card-body">
                    <p><i class="fas fa-users"></i> Trabajo en equipo</p>
                    <p><i class="fas fa-comments"></i> Comunicación efectiva</p>
                    <p><i class="fas fa-adjust"></i> Adaptabilidad</p>
                    <p><i class="fas fa-tools"></i> Resolución de problemas</p>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="card-title">Idiomas</h2>
                </div>
                <div class="card-body">
                    <ul>
                        <li>Español (Nativo)</li>
                        <li>Inglés (B1)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-4">
                <div class="card-header">
                    <h2 class="card-title">Perfil</h2>
                </div>
                <div class="card-body">
                    <p>
                        Soy un apasionado en el desarrollo de aplicaciones, siempre creando cosas nuevas. Mi pasión se extiende más allá del trabajo,
                        dedicando tiempo a proyectos personales.<br />
                        Además, me gusta investigar nuevas tecnologías que ayuden a mi aprendizaje y a las personas que me rodean, aportando contenido actualizado
                        a nuestro conocimiento. Busco inspirar, educar y motivar a través de tutoriales, consejos y talleres de desarrollo.<br />
                        Mi objetivo es establecer una comunidad en línea donde los desarrolladores puedan conectarse y contribuir en el mundo del desarrollo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

